/* Nav Bar CSS */

/* Container CSS */

/* footer CSS */

footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom:10px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: xx-small;
    text-align: center;
    position: absolute;
    bottom: 0;
}
