/* Nav Bar CSS */

.navbarcontent {
    width:960px;
}

.navbar-brand {
    background-color: #4aaaa5;
    margin-left: 100px;
}

.topname {
    color:white;
    padding: 10px;
}

.collapse {
    float:right;
}

/* Container CSS */

/* footer CSS */

footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom:10px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: xx-small;
    text-align: center;
    position: absolute;
    bottom: 0;
}
